@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nothing+You+Could+Do&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nothing+You+Could+Do&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 3rem;
}

.logo {
    height: 90%;

}

.toposite {
    align-items: center;
    display: flex;
    padding: 50px;
    font-family: "Kanit", sans-serif;
    gap: 50px;
    font-size: 30px;
}

.gifmario {
    background-image: url("https://phalarope-static-storage.s3.sa-east-1.amazonaws.com/dg/Img/2/45/1c48e7e09442d2d6b41d5b721e72bf23.gif");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

a {
    color: blueviolet;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    font-size: 30px;
    padding: 5px 10px;
}

a:hover {
    color: rgb(145, 97, 255);

}

.curriculo:hover {
    color: rgb(145, 97, 255);

    border-radius: 10px;
}

.curriculo {
    border-radius: 10px;
    color: white;
    color: blueviolet;
}

body {
    background-color: black;
    font-family: "Kanit", sans-serif;
}

.sobre {
    color: white;
    height: 80vh;
    max-width: 80vw;
    margin: 0 auto;
    margin-top: 100px;
    justify-content: space-between;
    display: flex;
    border-top: 10px solid blueviolet;
    padding-top: 30px;
}

.sobre h2 {
    font-size: 75px;
    font-family: "Sedgwick Ave Display", cursive;
    color: #6700FA;
}

.info {
    max-width: 600px;
    width: 900px;
    flex-direction: column;
    display: flex;
    align-items: center;

}

.infoperfil {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 70vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.795);
    padding: 30px;
    width: 900px;
    display: flex;
    align-items: center;
    border-radius: 0 0 18px 18px;
}

.imgperfil {
    max-width: 400px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;

}

.infoperfil h2 {
    font-size: 80px;
    font-family: "Quicksand", sans-serif;
    color: purple;
}

.infoperfil p {
    font-size: 30px;
    font-family: "Poetsen One", sans-serif;
    color: blueviolet;
}

.dev {
    font-family: "Sedgwick Ave Display", cursive;
}

.imgprogram {

    height: 500px;
}

.info p {
    margin-bottom: 20px;
    font-size: 27px;
}

.cursocard {
    display: flex;
    background-color: rgba(25, 0, 58, 0.5);
    width: 600px;
    padding: 30px;
    border-radius: 16px;
    flex-direction: column;
    margin: 30px;
    align-items: flex-start;
    gap: 15px;
}

.cursos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 0 250px;
    height: 80vh;
    max-width: 80vw;
    margin: 0 auto;
    margin-top: 100px;
    justify-content: space-between;
    display: flex;
    border-top: 10px solid blueviolet;
    padding-top: 30px;
}

.titlecurso {
    color: rgb(52, 14, 88);
    font-size: 150px;
    margin-left: 0px;
    font-family: "Nothing You Could Do", cursive;
    display: flex;
   margin-top: 120px;
}

.cursocard h2 {
    color: rgb(72, 20, 114);
    font-size: 24px;
}

.titlepro {
    color: rgb(75, 0, 161);
}

.conteudocur {
    color: #ffffff;
    font-family: "Briem Hand", cursive;
    font-size: 18px;

}

.finalcur {
    color: #7c93f6;
    font-family: "Josefin Sans", sans-serif;
}

.boxcard {
    margin: 180px 0 0 0;
}
.projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    max-width: 80vw;
    margin: 0 auto;
    margin-top: 300px;
    border-top: 10px solid blueviolet;
    padding-top: 50px;
  }
  
  .projetos_titulo {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 50px;
    position: relative;
    color: lightsteelblue;
    font-family: "Dancing Script", cursive;
    font-size: 100px;
  }
  .projetos_titulo::before {
    content: "";
    background-image: url("./img/detalhes/detalhe_duplo.png");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: -50px;
    right: -60px;
    height: 130px;
    width: 130px;
    z-index: -1;
  }
  
  .card_projeto {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    background-color: rgba(25, 0, 58, 0.5);
    padding: 40px;
    border-radius: 40px;
  }
  
  .card_projeto img {
    max-width: 500px;
    border-radius: 40px;
  }
  
  .projeto_infos {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
  }
  
  .card_titulo {
    font-size: 32px;
  }
  
  .card_subtitulo {
    font-size: 22px;
    font-style: italic;
    color: #7c93f6;
  }
  
  .card_texto {
    max-width: 500px;
    font-size: 18px;
    line-height: 1.4;
  }
  
  .footer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-top: 10px solid blueviolet;
    padding: 20px 0;
  }
  
  .footer_copy {
    font-size: 20px;
    color: white;
  }
  .footer_curso {
    font-size: 20px;
    color: #9b9b9b;
  }
  .footer_autor {
    font-size: 16px;
    color: lightskyblue;
    font-style: italic;
  }
