@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 3rem;
}

.logo {
    height: 90%;

}

.toposite {
    align-items: center;
    display: flex;
    padding: 50px;
    font-family: "Kanit", sans-serif;
    gap: 50px;
    font-size: 30px;
}

.gifmario {
    background-image: url("https://phalarope-static-storage.s3.sa-east-1.amazonaws.com/dg/Img/2/45/1c48e7e09442d2d6b41d5b721e72bf23.gif");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

a {
    color: blueviolet;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    font-size: 30px;
    padding: 5px 10px;
}

a:hover {
    color: rgb(145, 97, 255);

}

.curriculo:hover {
    color: rgb(145, 97, 255);

    border-radius: 10px;
}

.curriculo {
    border-radius: 10px;
    color: white;
    color: blueviolet;
}

body {
    background-color: black;
    font-family: "Kanit", sans-serif;
}

.sobre {
    color: white;
    height: 80vh;
    max-width: 80vw;
    margin: 0 auto;
    margin-top: 100px;
    justify-content: space-between;
    display: flex;
    border-top: 10px solid rgb(39, 39, 252);
    padding-top: 30px;
}

.sobre h2 {
    font-size: 75px;
    font-family: "Sedgwick Ave Display", cursive;

}

.info {
    max-width: 600px;
    width: 900px;
    flex-direction: column;
    display: flex;
    align-items: center;

}

.infoperfil {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 70vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.795);
    padding: 30px;
    width: 900px;
    display: flex;
    align-items: center;
    border-radius: 0 0 18px 18px;
}

.imgperfil {
    max-width: 400px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;

}

.infoperfil h2 {
    font-size: 80px;
    font-family: "Quicksand", sans-serif;
    color: cadetblue;
}

.infoperfil p {
    font-size: 30px;
    font-family: "Poetsen One", sans-serif;
    color: rgb(0, 0, 255);
}

.dev {
    font-family: "Sedgwick Ave Display", cursive;
}

.imgprogram {

    height: 500px;
}

.info p {
    margin-bottom: 20px;
    font-size: 27px;
}

.cursocard {
    display: flex;
    background-color: rgba(0, 0, 107, 0.5);
    width: 750px;
    padding: 30px;
    border-radius: 16px;
    flex-direction: column;
}

.cursos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 0 250px;
}

.titlecurso {
    color: #ffffff;
    font-size: 80px;
    margin-left: 300px;
    color: rgb(0, 0, 255);
}
.cursocard h2{
    color: rgb(0, 0, 255);
}
.titlepro{
    color: rgb(51, 51, 255);
}
.conteudocur{
    color: #ffffff;
}
.finalcur{
color: rgb(72, 72, 165);
}
